---
import Base from "../layouts/Base.astro";
---

<Base title="Inicio">
  <section class="py-32 text-center">
    <h1 class="text-5xl md:text-7xl font-bold uppercase tracking-tighter">
      Rumbo hacia <br />
      <span class="text-primary">experiencias inolvidables</span>
    </h1>
    <p class="mt-6 text-xl text-gray-500 max-w-2xl mx-auto">
      Contenido en construccion.
    </p>
  </section>
</Base>
