---
const bookingUrl = "https://www.reservaonline.support/rumbonorte/index.html";
---

<div class="fixed bottom-8 right-8 z-50">
  <a
    href={bookingUrl}
    target="_blank"
    rel="noopener noreferrer"
    class="group flex items-center justify-center bg-primary hover:bg-white text-black font-bold h-16 w-16 md:w-auto md:px-6 md:h-14 rounded-full fab-shadow hover:shadow-[0_10px_25px_rgba(255,255,255,0.4)] transition-all transform hover:-translate-y-1 border-2 border-black"
  >
    <span class="material-icons text-2xl md:mr-2">calendar_today</span>
    <span class="hidden md:inline uppercase tracking-wider text-sm"
      >Reserva ya!</span
    >
  </a>
</div>
